/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/


@font-face{
    font-family: 'MyriadPro';
    src:local('MyriadPro')
        url('/fonts/Myriad-Pro_31655.ttf.htm');
    }

    .main {
        min-height: 1080px;
        background: url(/img/bg_header.png)0 0/cover no-repeat;
        text-align: center
        
    }
    
    .main__content {
        text-align: center;
    }
    .main__logo img{
        margin-top: 95px;
    }
    .main__title {
        font-family: 'Lato', sans-serif;
        font-size: 34px;
        line-height: 30px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.16em;
        color: #ffffff;
        margin: 161px 0 0 0;
    }
    .main__title p:last-child {
        font-size: 26px;
        font-weight: 400;
        text-transform: none;
        padding: 18px 0 0 0;
    }
    .main__underline {
        color: #ffffff;
        padding: 45px 0 0 0;
        line-height: 0px;
    }
    .main__botton {
        min-width: 182px;
        min-height: 47px;
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.06em;
        color: #ffffff;
        line-height: 45px;
        display: inline-block;
        border: 1px solid #ffffff;
        margin: 225px 0 72px 0;

    }
    .main__botton a{
        color: #ffffff;
    }

    .mainmenu {
        min-height: 58px;
        display: flex;
        justify-content: center;
        
    }
    .mainmenu__row {
        width: 422px;
        display: flex;
        justify-content: space-between;
        align-self: center;
        
        
    }
    .mainmenu__row a{
        font-family: Lato;
        font-size: 15px;
        line-height: 1.2;
        font-weight: 400;
        color: #3c3c3c;
    }
    .mainmenu__row a:first-child{
        font-family: Lato;
        font-size: 15px;
        line-height: 1.2;
        font-weight: 700;
        color: #ada074;
    }

    .about {
        min-height: 675px;
        text-align: center;
        font-family: 'Lato';
        color: #000000;
    }
    .about__title {
        padding: 130px 0 0 0;
        font-size: 34px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.16em;
    }
    .about__underline {
        color:  #000000;
        padding: 18px 0 0 0;
        line-height: auto;
    }
    .about__text {
        font-size: 14px;
        line-height: 25px;
        font-weight: 300;
        color: #868585;
        max-width: 688px;
        display: inline-block;
        padding: 30px 0 0 0;
    }

    .about__flexbox{
        display: flex;
        justify-content: center;
    }
    .about__row {
        padding: 100px 0 0 0;
        display: flex;
        width: 825px;
        justify-content: space-between;
        
    }
    .about__column {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    
    .about__column-title {
        padding: 65px 0 30px 0;
        font-family: Lato;
        font-size: 22px;
        line-height: 1.2;
        font-weight: 400;
        letter-spacing: 0.16em;
        color: #000000;
    }
    .about__column-subtitle {
        font-family: Lato;
        font-size: 14px;
        line-height: 26px;
        font-weight: 300;
        color: #868585;
        
    }
    .about__column:nth-child(2) {
        padding: 0 50px 0 50px;
    }
    .about__column:nth-child(3) {
        padding: 0 38px 0 0;
    }

    .portfolio {
        padding: 145px 0 0 0;
        min-height: 1670px;
        text-align: center;
        font-family: Lato;
        color: #000000;
    }
    .portfolio__title {
        font-size: 34px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.16em;
    }
    
    .portfolio__mainmenu {
        padding: 48px 0 134px 0;
        display: flex;
        justify-content: center;
    }
    .portfolio__mainmenu-row {
        display: flex;
        justify-content: space-between;
        min-width: 294px;
        font-family: Lato;
        font-size: 15px;
        line-height: 1.2;
        font-weight: 400;
        color: #3c3c3c;
    }
    .portfolio__mainmenu-row a:first-child{
        font-weight: 700;
        color: #ada074;
    }
    .portfolio__row {
        display: flex;
        justify-content: center;
    }
    .portfolio__imgrow {
        display: flex;
        justify-content: center;
        max-width: 1100px;
        flex-wrap: wrap;
    }
    .portfolio__item1 {
        width: 538px;
        height: 365px;
        background-color:grey;
        margin: 14px 0 0 0;
    }
    .portfolio__item1:nth-child(odd) {
        margin: 14px 24px 0 0;
    }
    
    .portfolio__botton {
        margin: 65px 0 60px 0;
        min-width: 182px;
        min-height: 47px;
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.06em;
        color: #ffffff;
        line-height: 45px;
        display: inline-block;
        border: 1px solid black;
    }
    .portfolio__botton a{
        color: black;
    }
    .band {
        min-height: 385px;
        background-image: url(/img/bg_footer.png);
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .band__row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .band__title {
        font-family: Lato;
        font-size: 30.4px;
        line-height: 1.2;
        font-weight: 300;
        letter-spacing: 0.06em;
        color: #ffffff;
        padding: 0 0 90px 0;
    }
    .band__iconrow {
        max-width: 582px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .band__item {
        padding: 0 105px 0 0;
    }
    .band__item:last-child {
        padding: 0;
    }

    .contact {
        min-height: 825px;
        text-align: center;
        font-family: Lato;
        
        
    }
    .contact__title {
        padding: 180px 0 12px 0;
        font-size: 34px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.16em;
        color: #000000; 
    }
    .form{
        padding: 117px 0 0 0;
        display: inline-flex;
        flex-wrap: wrap;
        max-width: 715px;
        
    }
    .form__row {
        font-size: 14px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.06em;
        color: #000000;
        max-width: 383px;
        max-height: 348px;
        display: flex;
        flex-wrap: wrap;
        margin: 0 77px 0 0;

    }
    .form__name{
        text-align: left;
        margin: 0 55px 72px 0;
    }
    .form__name input{
        width: 161px;
        height: 35px;
        background-color: #f8f7f7;  
    }
    .form__email{
        text-align: left;
    }
    .form__email input{
        width: 161px;
        height: 35px;
        background-color: #f8f7f7;  
    }
    .form__messege textarea{
        width: 383px;
        height: 118px;
        background-color: #f8f7f7;
    }
    .form__messege{
        text-align: left;
        margin: 0 0 55px 0;
    }
    .form__send input{
        margin: 0 0 0 340px;
        font-weight: 700;
    }
    .contact__text {
        width: 254px;
        height: 194px;
        text-align: left;
        font-size: 14px;
        line-height: 26px;
        font-weight: 300;
        color: #000000;
    }
    .contact__text p:nth-child(2){
        font-weight: 700;
        padding: 35px 0 21px 0;
    }
    .contact__text span{
        font-weight: 700;
    }
    .contact__text a{
        font-weight: 700;
        width: 29px;
        height: 29px;
        border: 2px solid #1e1e1e;
        border-radius: 50%;
        color: black;
        display: inline-block;
        text-align: center;
    }
    .footer {
        min-height: 274px;
        background-color: #3c3c3c;
        text-align: center;
    }
    .footer__logo {
        padding: 45px 0 38px 0;
    }
    .footer__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 0 25px 0;
    }
    .footer__item{
        min-width: 263px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .footer__item a{
        font-family: Lato;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 400;
        color: #a4a4a4;
    }
    .arr {
        font-family: 'MyriadPro';
        font-size: 14px;
        line-height: 1.2;
        font-weight: 400;
        color: #6c6c6c;
    }
